.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 10px;
    background-color: #282e33;
    padding: 30px;
    width: 100%;
    max-width: 500px;
  }

  &__title {
    margin-bottom: 20px;
    color: #fff;
    margin: 0;
  }

  &__input {
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #282e33;
    color: #fff;
    border-bottom: 1px solid #434f58;
  }

  &__input:focus {
    outline: none;
  }

  &__button {
    width: 100%;
    padding: 15px;
    border-radius: 100px;
    border: none;
    background-color: #282e33;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &__button:hover {
    background-color: #434f58;
  }
}
